{% extends 'layouts/base.html' %}
{% block title %}User Management | Submittly{% endblock title %}
{% block content %}

<section class="user-management dashboard">
    <div class="action-bar">
        <h2>User Management</h2>
        <a href="#upload-csv-modal"><button class="other-btn">Add User</button></a>
        <div class="modal-backdrop" id="upload-csv-modal">
        <div class="upload-csv-modal modal">
            <div class="modal-head">
                <div class="close-btn-div">
                    <a onclick="window.location.href=window.location.pathname" id="csv-close-btn" class="close-btn">&times;</a>
                </div>
                <h2 class="upload-csv-modal-title modal-title" id="upload-csv-modal-title">Upload CSV File</h2>
            </div>
            <div class="modal-body">
                <!-- CSV Form -->
                <form class="modal-form" id="csv-upload-form" action="{% url 'add_user_csv' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="file-field-div form-field-div">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="1.5"><path d="M7.5 17.22C7.445 16.03 6.622 16 5.505 16c-1.72 0-2.005.406-2.005 2v2c0 1.594.285 2 2.005 2c1.117 0 1.94-.03 1.995-1.22m13-4.78l-1.777 4.695c-.33.87-.494 1.305-.755 1.305c-.26 0-.426-.435-.755-1.305L15.436 16m-2.56 0h-1.18c-.473 0-.709 0-.895.076c-.634.26-.625.869-.625 1.424s-.009 1.165.625 1.424c.186.076.422.076.894.076s.708 0 .894.076c.634.26.625.869.625 1.424s.009 1.165-.625 1.424c-.186.076-.422.076-.894.076H10.41"/><path stroke-linejoin="round" d="M20 13v-2.343c0-.818 0-1.226-.152-1.594c-.152-.367-.441-.657-1.02-1.235l-4.736-4.736c-.499-.499-.748-.748-1.058-.896a2 2 0 0 0-.197-.082C12.514 2 12.161 2 11.456 2c-3.245 0-4.868 0-5.967.886a4 4 0 0 0-.603.603C4 4.59 4 6.211 4 9.456V13m9-10.5V3c0 2.828 0 4.243.879 5.121C14.757 9 16.172 9 19 9h.5"/></g></svg>
                        <input type="file" class="file-field form-field" name="csv_file" accept=".csv" required>
                    </div>
                    <button type="submit" class="csv-file-upload-btn form-btn">Upload</button>
                </form>
                <!-- Progress Bar -->
                <div class="progress-bar-div" id="progress-bar-div">
                    <p class="progress-value" id="progress-value">0%</p>
                    <div class="progress-bar" id="progress-bar">
                        <div class="progress" id="progress" style="width: 0%"></div>
                    </div>
                    <p>Please don't leave the window while importing.</p>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="quick-info sec">
    <h2>Quick Info</h2>
    <div class="first-row">
      <div class="info-box total-project">
        <div>
          <h2>{{users_data.total_users}}</h2>
          <p>Total Users</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" style="color: var(--purple);" width="40" height="40" viewBox="0 0 640 640"><!-- Icon from Font Awesome Solid by Dave Gandy - https://creativecommons.org/licenses/by/4.0/ --><path fill="currentColor" d="M320 80c57.4 0 104 46.6 104 104s-46.6 104-104 104s-104-46.6-104-104S262.6 80 320 80M96 152c39.8 0 72 32.2 72 72s-32.2 72-72 72s-72-32.2-72-72s32.2-72 72-72M0 480c0-70.7 57.3-128 128-128c12.8 0 25.2 1.9 36.9 5.4C132 394.2 112 442.8 112 496v16c0 11.4 2.4 22.2 6.7 32H32c-17.7 0-32-14.3-32-32zm521.3 64c4.3-9.8 6.7-20.6 6.7-32v-16c0-53.2-20-101.8-52.9-138.6c11.7-3.5 24.1-5.4 36.9-5.4c70.7 0 128 57.3 128 128v32c0 17.7-14.3 32-32 32zM472 224c0-39.8 32.2-72 72-72s72 32.2 72 72s-32.2 72-72 72s-72-32.2-72-72M160 496c0-88.4 71.6-160 160-160s160 71.6 160 160v16c0 17.7-14.3 32-32 32H192c-17.7 0-32-14.3-32-32z"/></svg>
      </div>
      <div class="info-box submitted-project">
        <div>
          <h2>{{users_data.students}}</h2>
          <p>Students</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" style="color: var(--ico-green);" width="40" height="40" viewBox="0 0 256 256"><!-- Icon from Phosphor by Phosphor Icons - https://github.com/phosphor-icons/core/blob/main/LICENSE --><path fill="currentColor" d="m226.53 56.41l-96-32a8 8 0 0 0-5.06 0l-96 32A8 8 0 0 0 24 64v80a8 8 0 0 0 16 0V75.1l33.59 11.19a64 64 0 0 0 20.65 88.05c-18 7.06-33.56 19.83-44.94 37.29a8 8 0 1 0 13.4 8.74C77.77 197.25 101.57 184 128 184s50.23 13.25 65.3 36.37a8 8 0 0 0 13.4-8.74c-11.38-17.46-27-30.23-44.94-37.29a64 64 0 0 0 20.65-88l44.12-14.7a8 8 0 0 0 0-15.18ZM176 120a48 48 0 1 1-86.65-28.45l36.12 12a8 8 0 0 0 5.06 0l36.12-12A47.9 47.9 0 0 1 176 120"/></svg>
      </div>
      <div class="info-box pending-project">
        <div>
          <h2>{{users_data.coaches}}</h2>
          <p>Coaches</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" style="color: var(--ico-orange);" width="40" height="40" viewBox="0 0 640 640"><!-- Icon from Font Awesome Solid by Dave Gandy - https://creativecommons.org/licenses/by/4.0/ --><path fill="currentColor" d="M128 160c0-35.3 28.7-64 64-64h352c35.3 0 64 28.7 64 64v240h-96v-16c0-17.7-14.3-32-32-32h-64c-17.7 0-32 14.3-32 32v16H254.9c10.9-18.8 17.1-40.7 17.1-64c0-70.7-57.3-128-128-128c-5.4 0-10.8.3-16 1zm205 352c-5.1-24.2-16.3-46.1-32.1-64H608c0 35.3-28.7 64-64 64zM64 336c0-44.2 35.8-80 80-80s80 35.8 80 80s-35.8 80-80 80s-80-35.8-80-80M0 544c0-53 43-96 96-96h96c53 0 96 43 96 96c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32"/></svg>
      </div>
      <div class="info-box missed-project">
        <div>
          <h2>{{users_data.admins}}</h2>
          <p>Admin</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" style="color: var(--red);" width="40" height="40" viewBox="0 0 24 24"><!-- Icon from EOS Icons by SUSE UX/UI team - https://gitlab.com/SUSE-UIUX/eos-icons/-/blob/master/LICENSE --><path fill="currentColor" d="M12 1L3 5v6c0 5.55 3.84 10.74 9 12c5.16-1.26 9-6.45 9-12V5Zm0 3.9a3 3 0 1 1-3 3a3 3 0 0 1 3-3m0 7.9c2 0 6 1.09 6 3.08a7.2 7.2 0 0 1-12 0c0-1.99 4-3.08 6-3.08"/></svg>
      </div>
    </div>
  </div>
</section>

{% endblock content %}